*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(93, 37, 146);
    /* box-shadow: inset 0px 0px 5000px #7B3F00; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    border: 2px solid #4a536b;
    background-color: rgb(202, 201, 201);
    border-radius: 5px;
    box-shadow: inset 0px 0px 100px #4a536b;
    box-shadow: 0px 0px 50px gainsboro;
    /* box-shadow: inset 0px 0px 50px #7B3F00; */
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    text-align: center;
    padding-top: 3rem;
}
.Box{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    padding: 2rem;
    /* box-shadow: 0px 0px 100px yellow; */
}
.one{
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 8px;
    border: 2px solid #4a536b;
    box-shadow: 0px 0px 50px #4a536b;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* margin: 0rem; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.both{
    display: flex;
    justify-content:space-evenly;
}
#first,#second{
    border: none;
    font-size: 20px;
    padding: .5rem;
    /* margin: 2rem; */
    border-radius: 5px;
    background-color: #4a536b;
    color: white;
    /* display: flex; */
    /* justify-self: center; */
    cursor: pointer;
    /* margin-bottom: 4rem; */
}


#result{
    justify-self: center;
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-size: 35px;
    font-weight: lighter;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#player1{
    position: absolute;
    font-size: 25px;
    padding: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#player2{
    text-align: end;
    padding: 2rem;
    font-size: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}